@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 26px;
}
.container_background {
    width: 100vw;
    height: 100vh;
    background-color: mediumaquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .scoreboard_container {
        width: 100px;
        height: 50px;
        background-color: white;
        margin: 30px 0 0px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        span {
            margin: 0 5px 0 5px;
        }

        .score_playerOne {
            color: dodgerblue;
        }
        .score_playerTwo {
            color: red;
        }

    }

    .container_main {
        width: auto;
        height: auto;
        padding: 7px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin: 30px;
        .axis_y {
            display: flex;
        }
        .axis_y {
            width: 100%;
            height: 50px;

        }
        .axis_x {
            width: 50px;
            height: 50px;
            border: 0.5px #909090 solid;
        }

    }
}